* {
    margin: 0;
    padding: 0;
    font-family: 'Albert Sans', sans-serif;
    color: #13472E;
}

body {
    background-color: #E9EDE8;
    margin: 0 5%;
}

nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    cursor: pointer;
}

span:first-letter {
    font-size: 22px;
}

#logo {
    display: flex;
}

.logo-text {
    align-self: center;
    margin-right: 5px;
    font-weight: 600;
}

#logo-img {
    width: 30px;
    height: 30px;
}

#dropdown {
    display: none;
}

#nav-right-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
}

#nav-links {
    display: flex;
    align-items: center;
}

.link {
    margin: 0 10px;
    background-color: #2DB237;
    color: #E9EDE8;
    padding: 0.5em;
    border-radius: 0.5em;
}

.link:hover {
    scale: 1.1;
}

.icon-button {
    margin: 0 5px;
}


#add-container{
    background-color: #2DB237;
    padding: 70px;
    text-align: center;
    width: 60%;
    margin: 200px auto 0;
    border-radius: 20px;
}

.add-element{
    border-radius: 5px;
    padding: 0.8em;
    border: none;
    width: 150px;
    margin-right: 30px;

}

#add-container h1{
    margin-bottom: 50px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#add-container button{
    font-size: 25px;
    background: none;
    border: 3px solid white;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bolder;
}



@media screen and (max-width: 800px) {
    #dropdown {
        display: flex;
        align-items: flex-end;
        position: relative;
    }

    #dropdown-content {
        display: none;
        position: absolute;
        right: 0px;
        top: 35px;
        background-color: #E9EDE8;
        border-radius: 10px;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #nav-right-box {
        display: none;
    }

    #nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav-links>a.link {
        width: calc(100% - 24px);
        display: block;
        margin: 0;
        padding: 12px;
        border-bottom: #b2bab1 solid 0.5px;
        border-radius: 0;
    }

    #dropdown-buttons {
        padding: 12px;
    }

    .link {
        background-color: transparent;
        color: #13472E;
    }
}

@media screen and (max-width: 1600px){
    
    
    
    .add-element{
        width: 100px;
        margin-right: 20px;
        font-size: 10px;
    }
}

@media screen and (max-width: 1200px){
    

    .add-element{
        width: 80px;
        margin-right: 10px;
    }

    #add-container h1{
        margin-bottom: 30px;
        font-size: 25px;   
    }

    #add-container button{
        font-size: 15px;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 850px){
    

    .add-element{
        width: 200px;   
        margin: 20px auto 0;
        display: block;
    }  

    #add-container select {
        width: 215px; 
    }

    #add-container h1{
        font-size: 20px;   
    }

    #add-container button{
        margin-top: 20px;
    }
}


@media screen and (max-width: 450px){
    #add-container{
        padding: 40px;
        margin: 100px auto 0;
    }

    #add-container h1{
        font-size: 15px;   
    }
}