* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E9EDE8;
  font-family: 'Albert Sans', sans-serif;
}

/*CABEÇALHO*/
#logo2 {
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  color: #13472e;
  font-weight: 600;
  background-color: #E9EDE8;
}

#logo2-text {
  align-self: center;
  margin: 0 15px;
  font-weight: 600;
  background-color: #E9EDE8;
}

#logo2-img {
  width: 30px;
  height: 30px;
  background-color: #E9EDE8;
}


#logo {
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  color: #13472e;
  font-weight: 600;
}

#logo-text {
  align-self: center;
  margin: 0 15px;
  font-weight: 600;
}

#logo-img {
  width: 30px;
  height: 30px;
}

.custom-link {
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 5px;
  color: #000000;
  color: #E9EDE8;
  cursor: pointer;
}

.custom-link:hover {
  background-color: #2DB237;
  color: #E9EDE8;
  text-decoration: none;
}

.nav-item img {
  width: 30px;
}

#ul-navbar li {
  margin-right: 2.5rem;
}


h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 36px;
}

.nav-item nav-link {
  color: aqua;
}

@media(max-width:991px) {

  #ul-navbar li {
    margin-top: 1rem;
  }

  .custom-link {
    font-size: 1rem;
    border-radius: 10px;
    padding: 4px;
  }
}

@media(max-width:448px) {
  #logo {
    font-size: 1.2rem;
    margin-left :80px

  }

  .custom-link {
    font-size: 0.8rem; 
  }
  
  .p{
    font-size: 0.5px;
  }
}

/*FIM CABEÇALHO*/

#msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgFormulario{
  text-align: center;
  color: #6e6a30;
  background-color: #fdfbb7;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
  text-align: center;
  color: #204e30;
  background-color: #cdf1d3;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

.area-login {
  display: flex;
  height: 109vh;
  justify-content: center;
  align-items: center;
}

.login2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  white;
  border-radius: 10px;
  padding: 30px;
  margin-top: 150px;
  margin-bottom: 100px;
  width: 50%
}

#logo2 {
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  color: #13472e;
  font-weight: 600;
  background-color: #FFFFFF;
}

#logo2-text {
  align-self: center;
  margin: 0 15px;
  font-weight: 600;
  background-color: #FFFFFF;
}

#logo2-img {
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
} 
.login2 form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.login2 input {
  margin-top: 10px;
  background-color:  #e9ede8;
  color: black;
  border: none;
  height: 60px;
  outline: none;
  border-radius: 8px;
  padding-left: 10px;
}

.login2 img {
  width: 120px;
  height: auto;
  align-items: center;
  background-color: white;
}

input::placeholder {
  color: black;
  font-size: 14px;
  

}

.btnentrar:hover{
  color: #13472e(216, 41, 28);
  background:#13472e!Important;
  transition: .5s;
  
}
.btnentrar {
  display: block;
  text-align: center;
  background-color: #13472e(216, 41, 28)!Important;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  background-color: #78bd9c !important;
}

p {
  background-color: white;
  color: black;
  font-size: 12px;
}

/*FOOTER*/
.footer {
  border-top: 40px;
  background: #e9ede8;
  ;
  padding: 30px 0px;
  text-align: center;
}

footer .row ul :hover {
  background-color: #2db237;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 1.3em;
  align-items: center;
}

.footer .row ul {
  width: 100%;

}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row ul li a {

  color: black;
}

/*FOOTER FIM*/
